/* ! DEBUG */
body *,
body *::before,
body *::after {
  border: .5px solid hsl(0, 50%, 33%);
  padding: 1%;
}
/* ! DEBUG */

body, * {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  user-select: none;
}

section#screen {
  display: flex;
  flex-direction: column;
  flex: 1;
}

section#screen > section {
  display: flex;
  flex: 1;
  justify-content: right;
}

section#clear-btns {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  gap: 1%;
}

div.button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  gap: 1%;
}

section#gen-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1%;
}

section#number-btns,
section#operator-btns {
  display: flex;
  flex-direction: column;
  flex: 1;
}

section#gen-btns div.row {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 1%;
}
